/* Header Styles */

/* Container Styles */
.report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Form Styles */
.report-box {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.report-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.report-button:hover {
    background-color: #0056b3;
}

.success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 24px;
    color: green;
}

.fail-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 24px;
    color: red;
}