<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <script>
        let url = '<%= url %>'.replaceAll('&#34;', '"').replaceAll('&#39;', '\'');
        location.href = url;

        //let testurl = '\', test='+alert(1)//'
    </script>
    
</body>
</html>