<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spirit Inc</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script src="../static/js/jquery.slim.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="bg-image" style="background-image: url('../static/images/bg.jpg')"></div>
{% block content %} 

{% endblock %}

</body>
</html>
